.App {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enterprise-box {
    display: flexbox;
    width: 677px;
    height: 335px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    align-items: center;
}

.column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.columns {
    width: 300px;
}

.input-enterprise {
    box-sizing: border-box;
    width: 300px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #D1D1D1;
    box-shadow: none;
    margin-bottom: 15px;
    padding-left: 21px;
    font-size: 21.3235px;
}

.footer-term {
    margin-left: 24px;
}

.term {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #9D9D9D;
    width: 544.57px;
    height: 36px;
    margin: 0px;
}

.accept {
    display: flex;
    flex-direction: row;
}

.accept-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #636363;
}

.enterprise-button {
    width: 126px;
    height: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.3235px;
    line-height: 29px;
    color: #FFFFFF;
    background: #1877F2;
    border-radius: 10px;
    border: none;
}