.vacancies-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: #F5F5F5;
}

.header-vacancies {
    display: inline-block;
    width: 100%;
    background-color: #1877F2;
}

.logo.-vacancies {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
}

.logo-text.-vacancies {
    display: block;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 45.1612px;
    line-height: 50px;
    color: #FFFFFF;
    width: 21px;
    height: 50px;
}

.logo-text.-vacancies:nth-child(2n)  {
    margin-top: 12px;
}

.main-vacancies {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.content-vacancies {
    width: 541px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    padding: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: absolute;
}

.name-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #272727;
}

.enterprise-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #4E4E4E;
}

.title-req-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;    
    color: #272727;
}

.list-req-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #4E4E4E;
}

.div-buttons-job {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    margin-top: 470px;
    z-index: 2;
}

.pass-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/pass.svg');
    background-position: center;
}

.pass-button-vacancies:hover {
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/passwhite.svg');
    background-position: center;
}

.save-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/save.svg');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}

.save-button-vacancies:hover {
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/savewhite.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px;
}

.like-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/like.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
}

.like-button-vacancies:hover {
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/likewhite.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
}


.error-text {
    color: #ec6666;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
.error-text.-inv {
    visibility: hidden;
}

.hr1 {
    border: 1px solid #1877F2;
    width: 100%;
    position: left;
    margin-left: 0px;
}

.content-vacancies.-first {
    z-index: 1;
}

.content-vacancies.-second {
    z-index: 0;
}

.content-vacancies.-first.-moveRight {
    animation-name: moveRight;
    animation-duration: 0.5s;
}

.content-vacancies.-first.-moveLeft {
    animation-name: moveLeft;
    animation-duration: 0.5s;
}

.content-vacancies.-first.-moveDown {
    animation-name: moveDown;
    animation-duration: 0.5s;
}

@keyframes moveDown {
    from { 
        transform : translateY(0em);
        opacity: 1;
    }
    to   {
        transform : translateY(10em);
        opacity: 0.4;
    }
}

@keyframes moveLeft {
    from { 
        transform : translateX(0em);
        opacity: 1;
    }
    to   {
        transform : translateX(-10em);
        opacity: 0.4;
    }
}

@keyframes moveRight {
    from { 
        transform : translateX(0em);
        opacity: 1;
    }
    to   {
        transform : translateX(10em);
        opacity: 0.4;
    }
}