.vacancies-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    background-color: #1877F2;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.logo-menu {
    margin-left: 30px;
    margin-top: 5px;
    height: 60px;
}

.logo-menu:hover{
    transform: scale(1.04);
}

.div-search {
    display: flex;
    background-color: #FFFFFF;
    width: 20%;
    height: 50%;
    margin-top: 20px;
    border: 1.4px solid #D1D1D1;
    border-radius: 10px;
}

.button-search {
    width: 15%;
    height: 100%;
    border-radius: 0;
    border: none;
    border-radius: 7px 0 0 7px;
    border-right: 1.4px solid #D1D1D1;
    padding: 0;
    background-color: #FFFFFF;
}

.button-search:hover {
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
}

.input-search {
    width: 80%;
    height: 100%;
    padding: 0;
    padding-left: 5px;
    border: none;
    border-radius: 0 7px 7px 0;
}

.input-search:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.main-vacancies {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-vacancies.-jobes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.matches-list {
    width: 15%;
    height: 300px;
    border: 1.22px solid #C7C7C7;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.div-matches-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #C7C7C7;
}

.text-machtes {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #272727;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    overflow-x: hidden;
}

.text-machtes.-notification {
    margin-top: 0;
    margin-bottom: 0;
    width: 20%;

}

.text-machtes:hover {
    font-weight: 400;
    font-size: 20px;
    color: #1877F2;
}

.feed-vacancies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-vacancies {
    width: 541px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    padding: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: absolute;
    margin-bottom: 10px;
}

.name-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #272727;
}

.enterprise-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #4E4E4E;
}

.enterprise-vacancies.-matches {
    margin-left: 10px;
}

.title-req-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;    
    color: #272727;
}

.list-req-vacancies {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #4E4E4E;
}

.like-text {
    color: #DA5757;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.like-text.-inv {
    visibility: hidden;
}

.div-buttons-job {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    margin-top: 470px;
    z-index: 2;
}

.pass-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/pass.svg');
    background-position: center;
}

.pass-button-vacancies:hover {
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/passwhite.svg');
    background-position: center;
}

.save-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/save.svg');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}

.save-button-vacancies:hover {
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/savewhite.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px;
}

.like-button-vacancies {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    background-image: url('../assets/like.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
}

.like-button-vacancies:hover {
    opacity: 0.9;
    cursor: pointer;
    background: #F33339;
    background-image: url('../assets/likewhite.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
}


.error-text {
    color: #ec6666;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
.error-text.-inv {
    visibility: hidden;
}

.hr1 {
    border: 1px solid #1877F2;
    width: 100%;
    position: left;
    margin-left: 0px;
}

.content-vacancies.-first {
    z-index: 1;
}

.content-vacancies.-second {
    z-index: 0;
}

.content-vacancies.-first.-moveRight {
    animation-name: moveRight;
    animation-duration: 0.5s;
}

.content-vacancies.-first.-moveLeft {
    animation-name: moveLeft;
    animation-duration: 0.5s;
}

.content-vacancies.-first.-moveDown {
    animation-name: moveDown;
    animation-duration: 0.5s;
}

@keyframes moveDown {
    from { 
        transform : translateY(0em);
        opacity: 1;
    }
    to   {
        transform : translateY(10em);
        opacity: 0.4;
    }
}

@keyframes moveLeft {
    from { 
        transform : translateX(0em);
        opacity: 1;
    }
    to   {
        transform : translateX(-10em);
        opacity: 0.4;
    }
}

@keyframes moveRight {
    from { 
        transform : translateX(0em);
        opacity: 1;
    }
    to   {
        transform : translateX(10em);
        opacity: 0.4;
    }
}