.signup-screen {
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.wraper-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: transparent;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: auto;
  padding: 40px;
}

.div-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  width: 100%;
}

.label-data {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21.3235px;
  color: #636363;
  margin-bottom: 10px;
  margin-top: 10px;
}

.div-data-email {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
}

.div-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  width: 100%;
}

.input-signup {
  box-sizing:border-box;
  width: 440px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #C7C7C7;
  margin-bottom: 0px;
  padding-left: 21px;
  font-size: 21px;
}

.input-signup.-data {
  width: 189px;
  height: 55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21.3235px;
  color: #636363;
}

.input-signup.-email {
  margin-top: 20px;
}

.input-signup:hover {
  border: 2px solid #1877F2;
}

.error-text {
  color: #DA5757;
  font-weight: 400;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 1px;
}

.error-text.-inv {
  visibility: hidden;
}

.signup-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #FFFFFF;
  width: 185px;
  height: 55px;
  background: #1877F2;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-left: 714px;
}

.signup-button:hover {
  transform: scale(1.03);
  opacity: 0.9;
  cursor: pointer;
}  

.bar-element {
  width: 293px;
  height: 0px;
  border: 2px solid #D1D1D1;
  transform: rotate(-0.19deg);
  margin-bottom: 15px;
}
