.uProfile-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: #F5F5F5;
    overflow-x: hidden;
    height: fit-content;
}

.header-uprofile {
    display: inline-block;
    background-color: #F5F5F5;
}

.logo.-uprofile {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
}

.logo-text.-uprofile {
    display: block;
    font-family: 'Comfortaa', cursive;
    width: 40px;
    height: 80px;
    margin: 0;
    font-size: 86.0606px;
    line-height: 96px;
    color: #1877F2;
}

.logo-text.-uprofile:nth-child(2n)  {
    margin-top: 12px;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.section-1 {
    width: 20%;
}

.section-2 {
    width: 47%;
}

.section-3 {
    width: 20%;
}

.img-user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #bdd7fa;
    border: 1.34236px solid #636363;
    margin-top: 10px;
}

.img-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 25px;
    color: #1877F2;
}

.div-title-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1084px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-soft {
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #D1D1D1;
    background-color: transparent;
    font-size: 18px;
    font-weight: 300px;
    color: #4C3A48;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.input-soft.-editable {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #D1D1D1;
    background-color: transparent;
    font-size: 18px;
    font-weight: 300px;
    color: #4C3A48;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.div-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.div-buttons-profile {
    display: flex;
    flex-direction: row;
}

.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background:transparent;
    border-radius: 4px;
    border: 1.4px solid #C7C7C7;
    font-size: 25px;
    color: #C7C7C7;
}

.exclude-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background:transparent;
    border-radius: 4px;
    border: 1.4px solid #C7C7C7;
    font-size: 25px;
    color: #C7C7C7;
    margin-left: 5px;
}

.image-mais {
    height: 16px;
    width: auto;
}

.image-menos {
    height: 16px;
    width: auto;
    rotate: 45deg;
}

.div-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-gap: 15px;
}

.input-box {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #636363;
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 21px;
    color: #636363;
}

.input-box.-map {
    padding-top: 10px;
}

.input-box.-data {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #636363;
    background-color:  transparent;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 21px;
    color: #636363;
}

.input-box.-data.-map {
    padding-top: 10px;
}

.input-box:hover {
    border: 2px solid #1877F2;
}

.input-box.-hards-idiomas{
    box-sizing: border-box;
    width: 75%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #D1D1D1;
    background-color:  transparent;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 21px;
    color: #4C3A48;
}

.input-box.-soft {
    box-sizing: border-box;
    width: 75%;
    height: 50px;
    border-radius: 6px;
    border: 1.4px solid #D1D1D1;
    background-color:  transparent;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 21px;
    color: #4C3A48;
}

.input-box.-soft.-map {
    padding-top: 10px;
}

.skills-box.-s1 {
    background: transparent;                  
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #C7C7C7;                          
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-button:hover {
    border-color: transparent;
    box-shadow: 0 0 40px 40px #1877F2 inset;
    color: #FFFFFF;
}

.exclude-button:hover {
    border-color: transparent;
    box-shadow: 0 0 40px 40px #F29E00 inset;
    color: #FFFFFF;
}

.column-profile {
    width: 50%;
}

.data-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #747577;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-box {
    box-sizing: border-box;
    background: transparent;                  
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #C7C7C7;                           
    flex-direction: column;
    align-items: left;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.skills-box {
    box-sizing: border-box;
    background: transparent;                  
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #C7C7C7;                           
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.skills-box.-soft {
    height: fit-content;
}

.skills-map {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select-list {
    width: 20%;
    height: 32.41px;
    background-color: #FFFFFF;
    border: 1.07363px solid #D1D1D1;
    border-radius: 5.22743px;
    margin-left: 15px;
}

.select-list.-map {
    overflow-x: hidden;
}

.save-button{
    box-sizing: border-box;
    width: 80%;
    height: 50px;
    align-items: center;
    border-radius: 6px;
    border: 1.4px solid #D1D1D1;
    background: #1877F2;
    font-size: 18px;
    font-weight: 800px;
    color: #FFFFFF;
    margin-top: 20px;
}

.save-button:hover {
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
}